.contact-container {
  display: flex;
  flex-direction: column;
  @include lg {
    margin-left: 20%;
  }
  @include xl {
    margin-left: 190px;
  }
}

.contact-head {
  font-size: 1.75rem;
  margin: 5% 0% 3% 10%;
  color: black;
  text-transform: capitalize;
}

.contact-text {
  font-size: 1.25rem;
  margin: 0% 0% 2% 10%;
}

.fname-box,
.lname-box,
.email-box,
.subject-box {
  width: 70%;
  height: 4vh;
  margin-bottom: 10px;
  margin-left: 10%;
  border: 1px solid black;
  border-radius: 8px;
}

.message-box {
  width: 70%;
  height: 15vh;
  margin-bottom: 2.5%;
  margin-left: 10%;
  border: 1px solid black;
  border-radius: 8px;
}

::placeholder {
  font-size: 1.125rem;
  font-family: 'Montserrat', sans-serif;
}

.submit-button {
  margin-left: 10%;
  width: 30%;
  height: 5vh;
  border-radius: 8px;
  border: 1px solid black;
  font-size: 1.25rem;
  text-transform: capitalize;
  background-color: #D3D3D3;
  margin-bottom: 50px;
}

.submit-button:hover {
  background-color: #107896;
  color: white;
}
